<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-card">
        <h2>Signup</h2>
        <form [formGroup]="signUpForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" formControlName="password">
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password" formControlName="checkPassword">
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal for signup success -->
<!-- <div class="modal fade" id="signupSuccessModal" tabindex="-1" aria-labelledby="signupSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupSuccessModalLabel">Signup Successful</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="resetForm()"></button>
        </div>
        <div class="modal-body">
          Congratulations! Your signup was successful.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="resetForm()">Close</button>
        </div>
      </div>
    </div> -->
<!-- </div> -->